# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\djangoUdemi\project\personal_portfolio-project\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
